<form class="p-5"  [formGroup]="shipmentForm" (ngSubmit)="createShipment()">
    <h3 class="title mb-3">Create Shipment</h3>
    <div class="mb-3">
        <label class="form-label">origin</label>
        <input class="form-control" type="text" formControlName="origin" />
        @if(hasErrorField('origin')){
            <p>{{getErrorMessage('origin')}}</p>
        }
    </div>

    <div class="mb-3">
        <label class="form-label" >destination</label>
        <input class="form-control" type="text" formControlName="destination" />
        @if(hasErrorField('destination')){
            <p>{{getErrorMessage('destination')}}</p>
        }
    </div> 

    <div class="mb-3">
        <label class="form-label">estimated Delivery</label>
        <input class="form-control" type="text" formControlName="estimatedDelivery" />
        @if(hasErrorField('estimatedDelivery')){
            <p>{{getErrorMessage('estimatedDelivery')}}</p>
        }
    </div>

    <button type="submit"  >Submit</button>
</form>