:root {
    --bg: #F6F4EF;
    --text: #1A1A1A;
}

[data-theme="dark"] {
    --bg: #0B0F1E;
    --text: #F4F4F5;
}
body{
    background: var(--bg);
    color: var(--text);
}
button{
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--text);     
    border-radius: 4px !important; 
    padding: 2px 20px;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
button:hover{
    background-color: var(--text);
    color: var(--bg);
    border: 1px solid var(--bg);     
}
.section-app{    
    padding: 12px;
    border-bottom: 1px solid var(--text) ;
    background-color: var(--bg);
 
}
label, .title, span{
    color: var(--text);
}